In [5]:
import sys

import processor as proc

sys.path.append("/Users/kaledinaoa/Desktop/Algorithms/lections/")


tests = 5
course = "contest"
module = "ss_20240420"  # summer school

tasks = {"A": "1", "B": "2", "C": "3", "D": "4", "E": "5", "F": "6"}

for task, taskname in tasks.items():
    tests = 5
    problem = f"{task}_{taskname}"
    name_func = f"alg{course}{module}{task}"
    input_file, output = proc.return_input_output(
        num_of_test=1, module=str(module), problem=problem, tests=tests
    )

In [38]:
# alg_ss_200424_A

import json

task = "A"
taskname = tasks[task]


def alg_ss_200424_A() -> None:  # noqa: N802, D103, C901
    def has_two_vowels(phrase: str) -> bool:  # noqa: D103
        vowels = {"a", "e", "i", "o", "u", "y"}
        count = sum(1 for char in phrase if char.lower() in vowels)
        return count >= 2

    def is_even_length(phrase: str) -> bool:  # noqa: D103
        return len(phrase) % 2 == 0

    output_file = "output.json"
    filename = "stdin"
    file = open(filename)  # noqa: SIM115
    filename_json = file.readline().strip()
    file.close()

    print(filename_json)
    with open(filename_json) as file:
        json_str = file.read()
    parsed_json = json.loads(json_str)
    print(parsed_json, "\n")

    result_json = {}
    print(filename)

    with open(filename) as file:
        file.readline()
        for line_number, transformation_type in parsed_json.items():
            print(line_number, transformation_type)
            phrases = file.readline().strip().split("_")
            print(phrases)

            if transformation_type == "10":
                filtered_phrases = [
                    phrase.strip() for phrase in phrases if has_two_vowels(phrase)
                ]
                print(filtered_phrases)
                result_json[line_number] = [
                    phrase.strip() for phrase in phrases if has_two_vowels(phrase)
                ]
            elif transformation_type == "20":
                filtered_phrases = [
                    phrase.strip() for phrase in phrases if is_even_length(phrase)
                ]
                print(filtered_phrases)
                result_json[line_number] = [
                    phrase.strip() for phrase in phrases if is_even_length(phrase)
                ]
            elif transformation_type == "30":
                filtered_phrases = [phrase.strip() for phrase in phrases]
                result_json[line_number] = [phrase.strip() for phrase in phrases]
            else:
                print(f"Unknown transformation type for line {line_number}")
                continue

    file.close()

    # Сохранение словаря в файл JSON
    with open(output_file, "w") as json_file:
        json.dump(result_json, json_file)

    print()


alg_ss_200424_A()

sample_1.json
{'1': '10', '2': '20', '3': '30', '4': '20'}

stdin
1 10
['deck', 'mast', 'port side']
['port side']
2 20
['windlass', 'hold', 'hole']
['windlass', 'hold', 'hole']
3 30
['deckhouse', 'stern', 'crossbar sail']
4 20
['foresail']
['foresail']

In [64]:
# alg_ss_200424_A


def has_two_vowels(phrase: str) -> bool:  # noqa: D103
    vowels = {"a", "e", "i", "o", "u", "y"}
    count = sum(1 for char in set(phrase.lower()) if char in vowels)
    return count >= 2


def is_even_length(phrase: str) -> bool:  # noqa: D103
    return len(phrase) % 2 == 0


output_file = "output.json"
filename = "stdin"

with open(filename) as file:
    filename_json = file.readline().strip()

if filename_json != "":
    with open(filename_json) as file:
        json_str = file.read()
    parsed_json = json.loads(json_str)

    result_json = {}

    with open(filename) as file:
        file.readline()
        for line_number, transformation_type in parsed_json.items():
            phrases = file.readline().strip().split("_")

            if transformation_type == "10":
                result_json[line_number] = sorted(
                    [phrase.strip() for phrase in phrases if has_two_vowels(phrase)],
                    reverse=True,
                )
            elif transformation_type == "20":
                result_json[line_number] = sorted(
                    [phrase.strip() for phrase in phrases if is_even_length(phrase)],
                    reverse=True,
                )
            else:
                result_json[line_number] = sorted(
                    [phrase.strip() for phrase in phrases], reverse=True
                )

    file.close()

    # Save JSON
    with open(output_file, "w") as json_file:
        json.dump(result_json, json_file, indent=4)

In [67]:
import json


def has_two_vowels(phrase: str) -> bool:
    vowels = {"a", "e", "i", "o", "u", "y"}
    count = sum(1 for char in set(phrase.lower()) if char in vowels)
    return count >= 2


def is_even_length(phrase: str) -> bool:
    return len(phrase) % 2 == 0


output_file = "output.json"
filename = "stdin"

with open(filename) as file:
    filename_json = file.readline().strip()

if filename_json:
    try:
        with open(filename_json) as file:
            parsed_json = json.load(file)

        result_json = {}

        with open(filename) as file:
            next(file)  # пропускаем первую строку
            for line_number, transformation_type in parsed_json.items():
                phrases = next(file).strip().split("_")

                if transformation_type == "10":
                    result_json[line_number] = sorted(
                        [
                            phrase.strip()
                            for phrase in phrases
                            if has_two_vowels(phrase)
                        ],
                        reverse=True,
                    )
                elif transformation_type == "20":
                    result_json[line_number] = sorted(
                        [
                            phrase.strip()
                            for phrase in phrases
                            if is_even_length(phrase)
                        ],
                        reverse=True,
                    )
                else:
                    result_json[line_number] = sorted(
                        [phrase.strip() for phrase in phrases], reverse=True
                    )

        with open(output_file, "w") as json_file:
            json.dump(result_json, json_file, indent=4)
    except FileNotFoundError:
        print("File not found:", filename_json)
else:
    print("Empty filename or file not specified.")

In [68]:
import json
import sys


def has_two_vowels(phrase: str) -> bool:
    vowels = {"a", "e", "i", "o", "u", "y"}
    count = sum(1 for char in set(phrase.lower()) if char in vowels)
    return count >= 2


def is_even_length(phrase: str) -> bool:
    return len(phrase) % 2 == 0


output_file = "output.json"

# Чтение имени файла из потока ввода
filename_json = input().strip()

if filename_json:
    try:
        with open(filename_json) as file:
            parsed_json = json.load(file)

        result_json = {}

        # Чтение данных из потока ввода
        for line_number, transformation_type in parsed_json.items():
            phrases = input().strip().split("_")

            if transformation_type == "10":
                result_json[line_number] = sorted(
                    [phrase.strip() for phrase in phrases if has_two_vowels(phrase)],
                    reverse=True,
                )
            elif transformation_type == "20":
                result_json[line_number] = sorted(
                    [phrase.strip() for phrase in phrases if is_even_length(phrase)],
                    reverse=True,
                )
            else:
                result_json[line_number] = sorted(
                    [phrase.strip() for phrase in phrases], reverse=True
                )

        with open(output_file, "w") as json_file:
            json.dump(result_json, json_file, indent=4)
    except FileNotFoundError:
        print("File not found:", filename_json)
else:
    print("Empty filename or file not specified.")

In [205]:
def process(df):
    import pandas as pd

    df = pd.DataFrame(df)

    def days_in_february(start_date, end_date):
        february_start = pd.Timestamp("2024-02-01")
        february_end = pd.Timestamp("2024-02-29")

        if start_date <= february_start and end_date >= february_end:
            return 29  # верно
        elif start_date >= february_start and end_date <= february_end:
            return end_date.day - start_date.day
        elif start_date < february_start and end_date < february_end:
            return end_date.day - 1
        elif start_date > february_start and end_date > february_end:
            return 29 - start_date.day

    df["time_start"] = pd.to_datetime(df["timestamp"], unit="s")
    df["time_end"] = df["time_start"] + pd.to_timedelta(df["billing_period"], unit="D")
    df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

    df["days_in_february"] = df.apply(
        lambda row: days_in_february(row["time_start"], row["time_end"]), axis=1
    )

    df["money"] = df["days_in_february"] * df["fin_day"]

    user_sum_money = df.groupby("user_id")["money"].sum()

    top_3_users = user_sum_money.sort_values(ascending=False).head(3)
    total_sum = round(top_3_users.sum(), 2)

    return float(total_sum), df


import pandas as pd

df = pd.read_csv("df.csv")
summ, df = process(df)

print(summ)
df

30.0

,id,user_id,timestamp,billing_period,billing_total_price_usd,time_start,time_end,fin_day,days_in_february,money
0,23,1,1706555483,6,60,2024-01-29 19:11:23,2024-02-04 19:11:23,10.0,3,30.0

In [207]:
import pandas as pd


def process(df):
    def contribution(row):
        return row["billing_total_price_usd"] / row["billing_period"]

    # Преобразование столбца timestamp в формат даты
    df["date"] = pd.to_datetime(df["timestamp"], unit="s")

    # Фильтрация данных для февраля 2024 года
    february_data = df[(df["date"].dt.year == 2024) & (df["date"].dt.month == 2)]

    # Расчет финансового вклада для каждой подписки
    february_data["contribution"] = february_data.apply(contribution, axis=1)

    # Группировка по пользователю и суммирование вкладов
    user_contributions = february_data.groupby("user_id")["contribution"].sum()

    # Сортировка пользователей по вкладам и выбор топ-3
    top_3_users = user_contributions.nlargest(3)

    # Вычисление суммарного вклада топ-3 пользователей
    total_contribution_top_3 = top_3_users.sum()
    return total_contribution_top_3


import pandas as pd

df = pd.read_csv("df.csv")
process(df)

   id  user_id   timestamp  billing_period  billing_total_price_usd  \
0  23        1  1706555483               6                       60

                 date
0 2024-01-29 19:11:23

0.0

In [172]:
df = pd.read_csv("input.txt")


def process(df):
    import pandas as pd

    df = pd.DataFrame(df)

    def days_in_february(start_date, end_date):
        february_start = pd.Timestamp("2024-02-01")
        february_end = pd.Timestamp("2024-02-29")

        if start_date <= february_start and end_date >= february_end:
            return 29
        elif start_date >= february_start and end_date <= february_end:
            return (end_date - start_date).days + 1
        elif start_date <= february_start and end_date <= february_end:
            return (end_date - february_start).days + 1
        elif start_date >= february_start and end_date >= february_end:
            return (february_end - start_date).days + 1

    df["time_start"] = pd.to_datetime(df["timestamp"], unit="s")
    df["time_end"] = df["time_start"] + pd.to_timedelta(df["billing_period"], unit="D")
    df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

    df["days_in_february"] = df.apply(
        lambda row: days_in_february(row["time_start"], row["time_end"]), axis=1
    )

    df["money"] = df["days_in_february"] * df["fin_day"]

    user_sum_money = df.groupby("user_id")["money"].sum()

    top_3_users = user_sum_money.sort_values(ascending=False).head(3)
    round(top_3_users.sum(), 2)
    return df


process(df)

,id,user_id,timestamp,billing_period,billing_total_price_usd,time_start,time_end,fin_day,days_in_february,money
0,0,26,1708104067,74,95,2024-02-16 17:21:07,2024-04-30 17:21:07,1.283784,13,16.689189
1,1,40,1707585667,25,46,2024-02-10 17:21:07,2024-03-06 17:21:07,1.840000,19,34.960000
2,2,48,1704993667,50,99,2024-01-11 17:21:07,2024-03-01 17:21:07,1.980000,29,57.420000
3,3,15,1704475267,32,15,2024-01-05 17:21:07,2024-02-06 17:21:07,0.468750,6,2.812500
4,4,38,1706030467,84,83,2024-01-23 17:21:07,2024-04-16 17:21:07,0.988095,29,28.654762

In [145]:
import pandas as pd

df = pd.read_csv("df1.csv")
df

   id  user_id   timestamp  billing_period  billing_total_price_usd
0   0       26  1708104067               4                        4
1   1       40  1706555483               5                        5
2   2       48  1708555483              10                       10
3   3       15  1706555483               5                        5
4   4       38  1706555483               4                        4

In [310]:
import pandas as pd

df = pd.read_csv("input.txt")
# df = pd.read_csv("df.csv")

february_start = pd.Timestamp("2024-02-01")
february_end = pd.Timestamp("2024-02-29")

df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

df["timestamp"] = pd.to_datetime(df["timestamp"], unit="s")
df["time_start"] = df["timestamp"].where(
    df["timestamp"] >= february_start, february_start
)

df["time_end"] = df["timestamp"] + pd.to_timedelta(df["billing_period"], unit="D")
df["time_end_n"] = df["time_end"].where(df["time_end"] <= february_end, february_end)


del df["time_end"]
df["last"] = df["time_end_n"].dt.day
df["first"] = df["time_start"].dt.day

df["days"] = df["last"] - df["first"]


df["money"] = df["days"] * df["fin_day"]

user_sum_money = df.groupby("user_id")["money"].sum()

top_3_users = user_sum_money.sort_values(ascending=False).head(3)
print(round(top_3_users.sum(), 2))
df

118.07

,id,user_id,timestamp,billing_period,billing_total_price_usd,fin_day,time_start,time_end_n,last,first,days,money
0,0,26,2024-02-16 17:21:07,74,95,1.283784,2024-02-16 17:21:07,2024-02-29 00:00:00,29,16,13,16.689189
1,1,40,2024-02-10 17:21:07,25,46,1.840000,2024-02-10 17:21:07,2024-02-29 00:00:00,29,10,19,34.960000
2,2,48,2024-01-11 17:21:07,50,99,1.980000,2024-02-01 00:00:00,2024-02-29 00:00:00,29,1,28,55.440000
3,3,15,2024-01-05 17:21:07,32,15,0.468750,2024-02-01 00:00:00,2024-02-06 17:21:07,6,1,5,2.343750
4,4,38,2024-01-23 17:21:07,84,83,0.988095,2024-02-01 00:00:00,2024-02-29 00:00:00,29,1,28,27.666667

In [324]:
import pandas as pd

# df = pd.read_csv("input.txt")
df = pd.read_csv("df.csv")

february_start = pd.Timestamp("2024-02-01")
february_end = pd.Timestamp("2024-02-29")

df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

df["timestamp"] = pd.to_datetime(df["timestamp"], unit="s")
df["time_start"] = df["timestamp"].where(
    df["timestamp"] >= february_start, february_start
)

df["time_end"] = df["timestamp"] + pd.to_timedelta(df["billing_period"], unit="D")
df["time_end_n"] = df["time_end"].where(df["time_end"] <= february_end, february_end)


del df["time_end"]
df["last"] = df["time_end_n"].dt.day
df["first"] = df["time_start"].dt.day

df["days"] = df["last"] - df["first"]
df.loc[(df["last"] == 29) & (df["first"] == 1), "days"] = 29

df["money"] = df["days"] * df["fin_day"]

user_sum_money = df.groupby("user_id")["money"].sum()

top_3_users = user_sum_money.sort_values(ascending=False).head(3)
print(round(top_3_users.sum(), 2))
df

30.0

,id,user_id,timestamp,billing_period,billing_total_price_usd,fin_day,time_start,time_end_n,last,first,days,money
0,23,1,2024-01-29 19:11:23,6,60,10.0,2024-02-01,2024-02-04 19:11:23,4,1,3,30.0

In [173]:
import pandas as pd

# df = pd.read_csv("df1.csv")
df = pd.read_csv("input.txt")


february_start = pd.Timestamp("2024-02-01")
february_end = pd.Timestamp("2024-02-29")


df["time_start"] = pd.to_datetime(df["timestamp"], unit="s")
df["time_end"] = df["time_start"] + pd.to_timedelta(df["billing_period"], unit="D")

df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

df["time_start"] = df["time_start"].where(
    df["time_start"] <= february_start, february_start
)

df["money"] = df["days_in_february"] * df["fin_day"]
df

KeyError: 'days_in_february'

In [325]:
def process(df):
    import pandas as pd

    february_start = pd.Timestamp("2024-02-01")
    february_end = pd.Timestamp("2024-02-29")

    df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

    df["timestamp"] = pd.to_datetime(df["timestamp"], unit="s")
    df["time_start"] = df["timestamp"].where(
        df["timestamp"] >= february_start, february_start
    )

    df["time_end"] = df["timestamp"] + pd.to_timedelta(df["billing_period"], unit="D")
    df["time_end_n"] = df["time_end"].where(
        df["time_end"] <= february_end, february_end
    )

    del df["time_end"]
    df["last"] = df["time_end_n"].dt.day
    df["first"] = df["time_start"].dt.day

    df["days"] = df["last"] - df["first"]
    df.loc[(df["last"] == 29) & (df["first"] == 1), "days"] = 29

    df["money"] = df["days"] * df["fin_day"]

    user_sum_money = df.groupby("user_id")["money"].sum()

    top_3_users = user_sum_money.sort_values(ascending=False).head(3)
    total_sum = round(top_3_users.sum(), 2)

    return float(total_sum)


import pandas as pd

# df = pd.read_csv("input.txt")
df = pd.read_csv("df.csv")
process(df)

30.0

In [142]:
user_sum_money = df.groupby("user_id")["money"].sum()
# Сортировка результатов по убыванию и вывод топ-3
top_3_users = user_sum_money.sort_values(ascending=False).head(3)

# Вывод результата
print(top_3_users)

user_id
40    5.0
26    4.0
38   -5.0
Name: money, dtype: float64

In [133]:
total_sum = round(top_3_users.sum(), 2)
total_sum

121.03

In [111]:
from datetime import datetime

timestamp = 1706555483
date_time = datetime.fromtimestamp(timestamp)

print(date_time)

2024-01-29 22:11:23

In [321]:
def process(df):
    import pandas as pd

    df = pd.DataFrame(df)

    def days_in_february(start_date, end_date):
        february_start = pd.Timestamp("2024-02-01")
        february_end = pd.Timestamp("2024-02-29")

        if start_date <= february_start and end_date >= february_end:
            return 29
        elif start_date >= february_start and end_date <= february_end:
            return (end_date - start_date).days + 1
        elif start_date <= february_start and end_date <= february_end:
            return (end_date - february_start).days
        elif start_date >= february_start and end_date >= february_end:
            return (february_end - start_date).days + 1

    df["time_start"] = pd.to_datetime(df["timestamp"], unit="s")
    df["time_end"] = df["time_start"] + pd.to_timedelta(df["billing_period"], unit="D")
    df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

    df["days_in_february"] = df.apply(
        lambda row: days_in_february(row["time_start"], row["time_end"]), axis=1
    )

    df["money"] = df["days_in_february"] * df["fin_day"]

    user_sum_money = df.groupby("user_id")["money"].sum()

    top_3_users = user_sum_money.sort_values(ascending=False).head(3)
    total_sum = round(top_3_users.sum(), 2)

    return float(total_sum)


import pandas as pd

# df = pd.read_csv("input.txt")
df = pd.read_csv("df.csv")
process(df)

30.0

In [330]:
def process(df):
    import pandas as pd

    df = pd.DataFrame(df)

    def days_in_february(start_date, end_date):
        february_start = pd.Timestamp("2024-02-01")
        february_end = pd.Timestamp("2024-02-29")

        if start_date <= february_start and end_date >= february_end:
            return 29
        elif start_date >= february_start and end_date <= february_end:
            return (end_date - start_date).days + 1
        elif start_date <= february_start and end_date <= february_end:
            return (end_date - february_start).days
        elif start_date >= february_start and end_date >= february_end:
            return (february_end - start_date).days + 1

    df["time_start"] = pd.to_datetime(df["timestamp"], unit="s")
    df["time_end"] = df["time_start"] + pd.to_timedelta(df["billing_period"], unit="D")
    df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

    df["days_in_february"] = df.apply(
        lambda row: days_in_february(row["time_start"], row["time_end"]), axis=1
    )

    df["money"] = df["days_in_february"] * df["fin_day"]

    user_sum_money = df.groupby("user_id")["money"].sum()

    top_3_users = user_sum_money.sort_values(ascending=False).head(3)
    total_sum = round(top_3_users.sum(), 2)

    return float(total_sum)

In [375]:
def process(df):
    import pandas as pd

    def days_in_february(start_date, end_date):
        february_start = pd.Timestamp("2024-02-01")
        february_end = pd.Timestamp("2024-02-29")

        # Проверяем, находится ли начальная дата в феврале
        if start_date >= february_start and start_date <= february_end:
            start = max(start_date, february_start)  # Начало периода в феврале
        else:
            start = (
                february_start  # Если начальная дата до февраля, начинаем с 1 февраля
            )

        # Проверяем, находится ли конечная дата в феврале
        if end_date >= february_start and end_date <= february_end:
            end = min(end_date, february_end)  # Конец периода в феврале
        else:
            end = (
                february_end  # Если конечная дата после февраля, заканчиваем 29 февраля
            )

        # Возвращаем количество дней в феврале, охваченных периодом
        return (end - start).days + 1 if end >= start else 0

    df["time_start"] = pd.to_datetime(df["timestamp"], unit="s")
    df["time_end"] = df["time_start"] + pd.to_timedelta(
        df["billing_period"] - 1, unit="D"
    )
    df["fin_day"] = df["billing_total_price_usd"] / df["billing_period"]

    df["febs"] = df.apply(
        lambda row: days_in_february(row["time_start"], row["time_end"]), axis=1
    )

    df["money"] = df["febs"] * df["fin_day"]

    user_sum_money = df.groupby("user_id")["money"].sum()

    top_3_users = user_sum_money.sort_values(ascending=False).head(3)
    total_sum = round(top_3_users.sum(), 2)
    return total_sum, df, user_sum_money


import pandas as pd

df = pd.read_csv("input.txt")
# df = pd.read_csv("df.csv")
total_sum, df, user_sum_money = process(df)
print(total_sum)
df

121.03

,id,user_id,timestamp,billing_period,billing_total_price_usd,time_start,time_end,fin_day,febs,money
0,0,26,1708104067,74,95,2024-02-16 17:21:07,2024-04-29 17:21:07,1.283784,13,16.689189
1,1,40,1707585667,25,46,2024-02-10 17:21:07,2024-03-05 17:21:07,1.840000,19,34.960000
2,2,48,1704993667,50,99,2024-01-11 17:21:07,2024-02-29 17:21:07,1.980000,29,57.420000
3,3,15,1704475267,32,15,2024-01-05 17:21:07,2024-02-05 17:21:07,0.468750,5,2.343750
4,4,38,1706030467,84,83,2024-01-23 17:21:07,2024-04-15 17:21:07,0.988095,29,28.654762

In [352]:
user_sum_money

user_id
15    34.543750
26    66.522523
38    86.654762
40    63.460000
48    57.420000
Name: money, dtype: float64

In [353]:
user_sum_money.sort_values(ascending=False).head(3)

user_id
38    86.654762
26    66.522523
40    63.460000
Name: money, dtype: float64

In [354]:
user_sum_money.sort_values(ascending=False).head(3).sum()

216.6372844272844

In [378]:
L = 0.3
M = 1

(M - L) / M

0.7

In [476]:
# def find_outlier_day(N, K, metric_values):
#     for i in range(K, N):
#         n = int((i - K) * 0.9)
#         prev_days_values = metric_values[max(K - 1, i - n) - 1 : i]
#         print(i, n, prev_days_values, max(K - 1, i - n) - 1, i)
#         if prev_days_values and metric_values[i] > max(prev_days_values):
#             return i + 1

#     return -1


# def find_outlier_day(N, K, metric_values) -> int:
#     for i in range(K, N):
#         nmax = max(1, int((i - K) * 0.1))
#         print(nmax)
#         metrics = metric_values[0:i]
#         print(metrics)

#         while nmax > 0:
#             max_val = max(metrics)
#             # print(max_val)
#             if metric_values[i] > max_val:
#                 metrics.remove(max_val)
#             nmax -= 1

#         max_val = max(metrics)
#         print(max_val)
#         if metric_values[i] > max_val:
#             return i + 1

#     return -1


# def find_outlier_day(N, K, metric_values) -> int:
#     for i in range(K, N):
#         nmax = max(1, int((i - K) * 0.1))
#         metrics = metric_values[:i]
#         for _ in range(nmax):
#             max_val = max(metrics)
#             if metric_values[i] > max_val:
#                 metrics.remove(max_val)
#         max_val = max(metrics)
#         if metric_values[i] > max_val:
#             return i + 1
#     return -1


def find_outlier_day(N, K, metric_values) -> int:
    for i in range(K, N):
        nmax = max(1, int((i - K) * 0.1))
        metrics = metric_values[:i]
        metrics_copy = metrics.copy()  # Создаем копию списка

        for _ in range(nmax + 1):
            if metrics_copy == []:
                return i + 1
            max_val = max(metrics_copy)
            metrics_copy.remove(max_val)  # Удаляем максимальное значение из копии

        max_val = max(metrics_copy)
        print(i, metric_values[i], max_val)
        if metric_values[i] > max_val:
            return i + 1
    return -1


# N = int(input())
# K = int(input())
# metric_values = list(map(int, input().split()))

N = 12
K = 6
metric_values = list(map(int, "10 20 30 40 50 60 10 10 10 10 51 83".split()))


# N, K, li = 1, 1, "10"
# N, K, li = 2, 1, "10 11"
# N, K, li = 2, 2, "10 11"


# metric_values = list(map(int, li.split()))
print(metric_values)

outlier_day = find_outlier_day(N, K, metric_values)

print(outlier_day)

[10, 20, 30, 40, 50, 60, 10, 10, 10, 10, 51, 83]
6 10 40
7 10 40
8 10 40
9 10 40
10 51 40
11

In [326]:
import pandas as pd


def process(df):
    # Преобразование столбца timestamp в формат даты
    df["date"] = pd.to_datetime(df["timestamp"], unit="s")

    # Оставляем только записи для февраля 2024 года
    df_feb = df[df["date"].dt.year == 2024]
    df_feb = df_feb[(df_feb["date"].dt.month == 2)]

    # Рассчитываем финансовый вклад для каждой подписки
    df_feb["contribution"] = (
        df_feb["billing_total_price_usd"] / df_feb["billing_period"]
    )

    # Группируем данные по пользователям и считаем их совокупный финансовый вклад
    user_contribution = df_feb.groupby("user_id")["contribution"].sum()

    # Выбираем ТОП-3 пользователей с наибольшим финансовым вкладом
    top_3_users = user_contribution.nlargest(3)

    # Считаем сумму финансового вклада для ТОП-3 пользователей
    total_contribution_top_3 = top_3_users.sum()

    return total_contribution_top_3


# Пример использования:
df = pd.read_csv("df.csv")
df
result = process(df)
print(result)

0.0

In [328]:
df = pd.read_csv("df.csv")

df["start"] = pd.to_datetime(df["timestamp"], unit="s")
df["end"] = pd.to_datetime(df["timestamp"], unit="s")

df_feb = df[df["date"].dt.year == 2024]
df_feb = df_feb[(df_feb["date"].dt.month == 2)]

# Рассчитываем финансовый вклад для каждой подписки
df_feb["contribution"] = df_feb["billing_total_price_usd"] / df_feb["billing_period"]

# Группируем данные по пользователям и считаем их совокупный финансовый вклад
user_contribution = df_feb.groupby("user_id")["contribution"].sum()

# Выбираем ТОП-3 пользователей с наибольшим финансовым вкладом
top_3_users = user_contribution.nlargest(3)

# Считаем сумму финансового вклада для ТОП-3 пользователей
total_contribution_top_3 = top_3_users.sum()


df

,id,user_id,timestamp,billing_period,billing_total_price_usd,date
0,23,1,1706555483,6,60,2024-01-29 19:11:23

In [329]:
df_feb

Empty DataFrame
Columns: [id, user_id, timestamp, billing_period, billing_total_price_usd, date, contribution]
Index: []

In [7]:
# alg_ss_200424_B

task = "B"
taskname = tasks[task]


def create_inp(test: int):  # noqa: ANN201, D103
    input_file, _output = proc.return_input_output(
        num_of_test=test, module=module, problem=f"{task}_{taskname}", tests=tests
    )
    return input_file


def alg_ss_200424_B(input_file: str) -> None:  # noqa: N802, D103
    file = open(input_file)  # noqa: SIM115
    a = int(file.readline().strip())
    print(a)


alg_ss_200424_B(create_inp(1))

ValueError: invalid literal for int() with base 10: ''

In [8]:
# alg_ss_200424_C

task = "C"
taskname = tasks[task]


def create_inp(test: int):  # noqa: ANN201, D103
    input_file, _output = proc.return_input_output(
        num_of_test=test, module=module, problem=f"{task}_{taskname}", tests=tests
    )
    return input_file


def alg_ss_200424_C(input_file: str) -> None:  # noqa: N802, D103
    file = open(input_file)  # noqa: SIM115
    a = int(file.readline().strip())
    print(a)


alg_ss_200424_C(create_inp(1))

ValueError: invalid literal for int() with base 10: ''

In [239]:
# alg_ss_200424_D

task = "D"
taskname = tasks[task]


def create_inp(test: int):  # noqa: ANN201, D103
    input_file, _output = proc.return_input_output(
        num_of_test=test, module=module, problem=f"{task}_{taskname}", tests=tests
    )
    return input_file


def lbinsearch(l, r, check, checkparams):
    while l < r:
        m = (l + r) // 2
        if check(m, checkparams):
            r = m
        else:
            l = m + 1
    return l


def rbinsearch(l, r, check, checkparams):
    while l < r:
        m = (l + r + 1) // 2
        if check(m, checkparams):
            l = m
        else:
            r = m - 1
    return l


def count_more_or_equal(m, params):
    arr, days = params
    all_days = 0
    for i in range(len(arr)):
        full_days = arr[i] // m
        day_ost = arr[i] % m

        if day_ost < m and day_ost != 0:
            full_days += 1

        all_days += full_days

    return all_days < days


def alg_ss_200424_D(input_file: str) -> None:  # noqa: N802, D103
    file = open(input_file)  # noqa: SIM115
    days = int(file.readline().strip())
    arr = list(map(int, file.readline().split()))
    print(days)
    print(arr)

    vel = lbinsearch(0, sum(arr), count_more_or_equal, [arr, days])

    print(vel)


alg_ss_200424_D(create_inp(2))

10
[1, 16, 13, 10, 3, 16, 6, 5, 16]
16

In [250]:
task = "D"
taskname = tasks[task]


def create_inp(test: int):  # noqa: ANN201, D103
    input_file, _output = proc.return_input_output(
        num_of_test=test, module=module, problem=f"{task}_{taskname}", tests=tests
    )
    return input_file


def lbinsearch(l, r, check, checkparams):
    while l < r:
        m = (l + r) // 2
        if check(m, checkparams):
            r = m
        else:
            l = m + 1
    return l


def count_more_or_equal(m, params):
    arr, days = params
    all_days = 0
    for i in range(len(arr)):
        full_days = arr[i] // m
        day_ost = arr[i] % m

        if day_ost < m and day_ost != 0:
            full_days += 1

        all_days += full_days

    print(m, all_days)

    return all_days <= days


def alg_ss_200424_D(input_file: str) -> None:  # noqa: N802, D103
    file = open(input_file)  # noqa: SIM115
    days = int(file.readline().strip())
    arr = list(map(int, file.readline().split()))

    vel = lbinsearch(0, sum(arr), count_more_or_equal, [arr, days])

    print(vel)


# alg_ss_200424_D("input.txt")
alg_ss_200424_D(create_inp(3))

17 3
8 5
13 4
11 4
10 5
11

In [253]:
def can_be_processed(arr, m, days):
    total_days = 0
    for a in arr:
        total_days += (a + m - 1) // m
    return total_days <= days


def alg_ss_200424_D(input_file: str) -> None:
    file = open(input_file)
    days = int(file.readline().strip())
    arr = list(map(int, file.readline().split()))

    left, right = 1, max(arr)

    while left < right:
        mid = (left + right) // 2
        if can_be_processed(arr, mid, days):
            right = mid
        else:
            left = mid + 1

    print(left)


alg_ss_200424_D("input.txt")
alg_ss_200424_D(create_inp(3))

11